<div class="row mb-4 justify-content-center">
    <div class="col-10">
        <button class="btn btn-primary me-3 mb-3" (click)="showAllCards()">Show created notes</button>
        <button class="btn btn-danger mb-3" (click)="deleteAllCards()">Delete all notes</button>
    </div>
</div>

<div class="row my-4 justify-content-center" *ngIf="cardCollections.length; else defaultMessage">
    <div class="col-10">
        <input type="text" class="find" placeholder="Find text in notes" [(ngModel)]="searchString">
    </div>
    <div class="col-10 col-lg-3 noteInput my-4 mx-3" *ngFor="let cardItem of cardCollections | search: searchString; let i=index">
        <input appHightlight type="text" class="title" placeholder="Enter title" [(ngModel)]="cardItem.title"
            (change)="createTag(cardItem.title)" #inputCard>
        <hr class="my-1">
        <textarea appHightlight class="text" placeholder="Enter text" [(ngModel)]="cardItem.text"
            (change)="createTag(cardItem.text)"></textarea>
        <time class="my-2">{{cardItem.id | date: 'medium'}}</time>
        <div class="btn-container mb-3">
            <button class="btn btn-sm btn-outline-danger me-3" (click)="removeCard(cardItem.id)">Delete</button>
            <button class="btn btn-sm btn-outline-success"
                (click)="saveCard(cardItem.id, cardItem.title, cardItem.text)">Save Edit</button>
        </div>
    </div>
</div>

<ng-template #defaultMessage>
    <div class="row justify-content-center">
        <div class="col-10">
            <h6 class="message my-4">Please, type text in note. You can create tag using '#' symbol.</h6>
        </div>
    </div>
</ng-template>