.message {
    text-align: center;
}

.noteInput {
    display: flex;
    flex-direction: column;
    padding: 0 12px;
    //border: 1px #000 solid;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    .title {
        outline: none;
        padding: 10px 20px;
        border: none;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .text {
        padding: 10px 20px;
        width: 100%;
        resize: vertical;
        border: none;
        outline: none;
        min-height: 100px;
        font-size: 1.25rem;
    }
    .btn-container {
        display: flex;
        button {
            width: 120px;
        }
    }

}