.message {
    text-align: center;
}
.noteInput {
    display: flex;
    flex-direction: column;
    padding: 0 12px;
    border: 1px rgb(142, 142, 142) solid;
    border-radius: 10px;
    
    &:hover {
        box-shadow: 5px 5px 10px rgba(0,0,0,0.5);  
        border: none; 
    }
    .title {
        outline: none;
        padding: 10px 20px;
        border: none;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .text {
        padding: 10px 20px;
        width: 100%;
        resize: none;
        border: none;
        outline: none;
        min-height: 100px;
        font-size: 1.25rem;
    }
    time {
        font-size: 0.8rem;
    }
    .btn-container {
        display: flex;
        button {
            max-width: 100px;
        }
    }
}
.find {
    min-height: 40px;
    max-width: 200px;
    padding: 5px;
    border: 2px #000 solid;
    border-radius: 10px;
    font-size: 1.2rem;
}