.tagInput {
    max-width: 200px;
    margin: 10px;
    input {
        padding: 5px;
        border-radius: 10px;
        min-height: 40px;
        max-width: 150px;
        border: 2px #000 solid;
        font-size: 1.2rem;
    }

}
.tagsContent {
    display: flex;
    align-items: center;
    button {
        flex: 1 1 86px;
        margin: 5px;
    }
} 