<div class="row">
    <div class="col-12 tagInput">
        <input type="text" placeholder="Enter new tag" [(ngModel)]="newTag">
        <button class="btn btn-sm btn-primary my-3" (click)="addTag(newTag)">Add tag</button>
    </div>
    <div class="col-12 tagsContent" *ngFor="let tagItem of tags; let i = index">
        <button class="btn btn-sm btn-info" (click)="findCardsByTag(tagItem)">{{tagItem}}</button>
        <button class="btn btn-sm btn-danger" (click)="deleteTag(tagItem)">Delete Tag</button>
    </div>
</div>