.tags-content {
    display: flex;
    align-items: center;
   // background-color: rgba($color: #ecd490, $alpha: 1.0);
   // border-radius: 5px;
    // border: 1px solid #000;
    .tagName {
        flex: 1 1 100px;
        p {
            margin: 5px;
            font-weight: bold;
        }
        span {
            font-weight: bold;
        }
    }

    button {
        flex: 0 1 86px;
        margin: 5px;
    }
} 